/* Set the background color of body */
body { background-color:#F2F0EE; }

a {
    text-decoration: None;
    color: black;
}


a:hover, a:focus {
    text-decoration: underline;  /* Adds underline on hover or focus for better UX */
}

#hoverOrange:hover{
    color:orange;
}

#hoverRed:hover {
    color: red;
}

#hoverBlue:hover {
    color: blue;
}

#hoverGreen:hover {
    color: green;
}

#hoverPink:hover {
    color: pink;
}

.roundBox {
    width: 94%;
    height: 4700px;
    left: 3%;
    top: 40px;
    position: relative;
    background: white;
    border-radius: 94px
}

.first {
    top: 69px;
    display: flex;
    position: relative;
}

.pageTitle {
    font-family: Josefin Sans;
    /* left: 10%; */
    /* top: 69px; */
    /* position: absolute; */
    position: relative;
    margin-left: 10%;
    color: black; font-size: 36px; font-family: Josefin Sans; font-weight: 600; word-wrap: break-word
}

.headerContainer {
    /* position: absolute; */
    position: relative;
    /* right: 10%; */
    margin-left: 50%;
    margin-right: 0%;
    /* top: 69px;  */
    width: 20%;
}

.headers {
    display: flex;
    justify-content: flex-end;
    color: black;
    font-size: 24px;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}

.headers > a {
    margin-right: 30%;
}

/* Remove margin-right for the last child so it doesn't create unnecessary space on the far right */
.headers > a:last-child {
    margin-right: 0;
}


.center-container {
    display: flex;
    align-items: center; /* center horizontally */
    justify-content: center; /* center vertically */
    /* top: 180px; */
    margin-top: 150px;
    position: relative;
    flex-direction: row;
}

.meImg {
    height: 500px;
    width: 400px;
    /* top: 180px; */
    position: relative;
    margin-left: 10%;
    margin-right: 5%;
}
.openingText {
    /* top: 200px; */
    margin-top: 15px;
    margin-right: 5%;
    /* margin-left: 7%; */
    /* position: absolute; */
    /* position: relative; */
}


.hello {
    /* left: 45%;  */
    justify-content: flex-end;
    font-size: 30px;
    top: 5px;
    /* top: 220px;  */
    /* position: absolute;  */
    transform: rotate(-6.46deg); 
    transform-origin: 0 0;
    font-family: 'Josefin Slab', serif;
}

.SWE {
    display: none;
}
.intro {
    left: 10%; 
    max-width: 550px;
    min-width: 200px;
    line-height: 80px;
    /* justify-content: flex-end; */
    font-size: 45px;
    /* top: 15%; */
    /* top: 15px;  */
    margin-top: 8px;
    /* position: absolute;  */
    transform-origin: 0 0;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    position: relative;
    word-wrap: break-word;
    margin-right: 80px;
}

.outlined {
    font-family: 'Londrina Sketch', cursive;
    font-size: 54px;
}

.greyBoxes1{
    /* top: 820px; */
    right: 7%;
    margin-top: 100px;
    /* position: absolute; */
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.greyBoxes2{
    /* top: 880px; */
    margin-top: 15px;
    right: 13%;
    /* position: absolute; */
    display: flex;
    position: relative;
    justify-content: flex-end;
}

.greyBox {
    width: 128px;
    height: 43px;    
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border:solid 2px rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Architects Daughter', cursive;
}

.greyBox:hover {
    background-color: #ffddec;
}

.content {
    position: relative;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 0%;
    color: black; font-size: 48px; 
    font-family: Inter; font-weight: 700; line-height: 80px; 
    word-wrap: break-word;
}

.sectionHeader {
    height: 83px;  
    color: black;
    font-size: 48px; 
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 80px; 
}

.sectionIntro {
    font-size: 24px;
    font-family: Inter;
    font-weight: 400;
    line-height: 40px;
    margin-top: 40px;
    margin-right: 5%;
}

#TA {
    display: none;
}

.content a {
    text-decoration: underline;
}

.timeline {
    border-left: 2px solid #333;
    margin-top: 100px;
}

.timelineSection {
    width: 85%;
    margin-left: 7%;
    margin-bottom: 50px;
}

.timelineHeader {
    font-size: 28px;
    font-weight: 600;
}

.currentTimelineHeader {
    font-size: 28px;
    font-weight: 600;
}

.timelineHeader::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    left: -6px;
    border: 3px solid rgb(0, 0, 0);
  }

.timelineContent {
    margin-top: 10px;
}

.currentTimelineHeader::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 999px;
    left: -9px;
    border: 3px solid rgb(0, 0, 0);
    background-color: #000000;
}

.bulletPoint {
    line-height: 35px; 
    font-size: 20px;
    font-weight: 400;

}

.companyName {
    display: none;
}

#comp {
    display: none;
}

#compSmall {
    display: none;
}

ul {
    list-style-type: none; /* Remove default bullet points */
    padding-left: 0;       /* Remove default padding, if desired */
}

li::before {
    content: "✨";        /* Add apple emoji */
    margin-right: 8px;    /* Spacing between the emoji and the list item text */
    font-size: 36px;   
}

@media screen and (max-width: 1320px) {
    body { background-color: #ee7e1b;  } 
    .meImg {
        max-width: 33%;
        min-width: 300px;
        max-height: 500px;
        height: auto;
        margin-right: 3%;
    }
    .intro {
        line-height: 5vw;
    }
}

@media screen and (max-width: 1183px) {
    .currentTimelineHeader {
        font-size: 24px;
    }
    .timelineHeader {
        font-size: 24px;
    }
}

/* On screens that are 992px or less, apply a visible design/ layout change */
@media screen and (max-width: 1012px) {
  body { background-color: #9f0fac;  } 
    .greyBox {
        width: 12vw;
        font-size: 2vw;
        height: auto;
    }
    #TA {
        display: inline;
      }
      #TAFull {
        display: none;
      }
      .SWE {
        display: inline;
      }
      .SWEFull {
        display: none;
      }
      #comp {
        display: inline;
      }
      #compFull {
        display: none;
      }
  .meImg {
    max-width: 33%;
    min-width: 250px;
    max-height: 500px;
    height: auto;
    }
    .intro {
        font-size: 3vw;
        line-height: 5vw;
        margin-top: 5px;
    }
    .hello {
        font-size: 3vw;
    }
    .outlined {
        font-size: 6vw;
    }
    li::before {
        content: "✨";        /* Add apple emoji */
        margin-right: 5px;    /* Spacing between the emoji and the list item text */
        font-size: 36px;   
    }
}

/* On screens that are 768 or less, apply a visible design/ layout change */
@media screen and (max-width: 768px) {
  body { background-color: #31be96; } 
 
  .currentTimelineHeader {
    font-size: 20px;
}
.timelineHeader {
    font-size: 20px;
}
  .hello {
    margin-left: 10px;
    font-size: 25px;
    margin-top: 30px;
    /* position: absolute; */
  }
  .center-container{
    flex-direction: column;
  }
  
    .meImg {
        margin-left: auto;
        margin-right: auto;
    }

    .openingText {
        /* text-align: center; */
        width: 90%;
        left: 5%;
    }
    .intro {
        font-size: 36px;
        line-height: 50px;
    }
    .outlined {
        font-size: 48px;
    }
    
    .greyBoxes1, .greyBoxes2 {
        display: none;
    }

}


/* On screens that are 576 or less, apply a visible design/ layout change */
@media screen and (max-width: 576px) {
  body { background-color: #ea0d0d; } 
  #comp {
    display: none;
  }
  #compSmall {
    display: inline;
  }
  .headerContainer {
    display: none;
  }
  .companyName {
    display: inline;
  }
  .fullCompanyName {
    display: none;
  }
  .intro {
    font-size: 7vw;
    line-height: 50px;
    margin-left: auto;
    margin-right: 10%;
    /* min-width: 280px; */
    }
    .outlined {
        font-size: 9vw;
    }
    .timelineHeader, .currentTimelineHeader {
        font-size: 18px;
    }
  /* .meImg {
    display: none;
  } */
  .center-container {
    margin-top: 100px;
  }

    .meImg {
        width: 100px;
        height: 200px;
    }
    .timelineContent {
        margin-top: 0px;
    }
    .bulletPoint {
        font-size: 18px;
    }
    .sectionIntro {
        margin-top: 10px;
    }
    .content {
        margin-top: 60px;
    }
    .timeline {
        margin-top: 20px;
    }
    .sectionIntro {
        font-size: 18px;
    }
    .sectionHeader {
        font-size : 30px;
    }
    li::before {
        content: "✨";        /* Add apple emoji */
        margin-right: 5px;    /* Spacing between the emoji and the list item text */
        font-size: 24px;   
    }
}

